[Desktop Entry]
Version=1.1
Type=Application
Name=Pencil2D
GenericName=Animation Software
Comment=Create traditional hand-drawn animation using both bitmap and vector graphics
Icon=org.pencil2d.Pencil2D
Exec=pencil2d %f
MimeType=application/x-pencil2d-pcl;application/x-pencil2d-pclx;
Categories=Graphics;2DGraphics;VectorGraphics;RasterGraphics;Qt;
Keywords=picture;drawing;vector;bitmap;cartoon;animation;

# Translations


# Translations


# Translations


# Translations


# Translations
Name[sv]=Pencil2D
GenericName[sv]=Animeringsprogram
Comment[sv]=Skapa traditionellt handritade animationer, med både bitmap- och vektorgrafik
Icon[sv]=org.pencil2d.Pencil2D
